<template>
  <div class="features">
    <Hero1 msg=""/>
    <Hero2 msg=""/>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero1 from '@/components/Hero1.vue'
import Hero2 from '@/components/Hero2.vue'

export default {
  name: 'Features',
  components: {
    Hero1,
    Hero2
  }
}
</script>

<style scoped lang="scss">
  .features {
    position: fixed;

    left: 0;
    top: 52px;
    width: 100vw;
    max-width: 100vw;
    bottom: 0px;
    background: #EAEAEA;
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style>
