<template>
  <div class="home">
    <div class="flex">
      <div class="top-bar">
        <h2>In your scope</h2>
      </div>
      <div class="content">
        <div class="tracks">
          <div class="column">
            <Track />
            <Track />
            <Track />
          </div>
          <div class="column">
            <Track />
            <Track />
            <Track />
          </div>
          <div class="column">
            <Track />
            <Track />
            <Track />
          </div>
        </div>
        <Sidebar />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Track from '@/components/Track.vue'
import Sidebar from '@/components/HomeSidebar.vue'


export default {
  name: 'Home',
  components: {
    Track,
    Sidebar
  }
}
</script>

<style scoped lang="scss">
  .home {
    position: fixed;

    left: 0;
    top: 52px;
    width: 100vw;
    max-width: 100vw;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: hidden;

    .flex {
      display: flex;
      width: 100%;
      height: 100%;

      flex-direction: column;

      .top-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        margin-left: 20px;
        margin-right: 20px;

        h2 {
          display: inline-flex;
        }
      }

      .content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 56px);

        .tracks {
          display: flex;
          width: calc(100% - 300px);
          margin-left: 20px;
          margin-bottom: 20px;
          margin-right: 10px;

          .column {
            display: flex;
            flex-direction: column;
            width: 33%;
            margin-right: 10px;
          }
        }


      }
    }
  }
</style>
