<template>
  <div class="hero1">
    <div class="info">
      <h1>All your future favorite songs, in one place.</h1>
      <p>Discover exciting new music by independent artists, and directly support them on Avadio.
        Artists can choose if they want to sell their tracks and if yes, how much they want to charge.

      </p>
      <div class="button-bar">
        <div class="button yellow"><i class="material-icons">explore</i> Browse music</div>
        <div class="button">More information</div>
      </div>
    </div>
    <div class="screen" />
  </div>
</template>

<script>
export default {
  name: 'Hero1'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hero1 {
  width: 100%;
  height: 100%;
  background: #EEE;
  display: flex;


  align-items: center;

  @media only screen and (min-width: 1400px) {
    flex-direction: row;
  }

  @media only screen and (max-width: 1400px) {
    flex-direction: column;
  }

  .button-bar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .button {
      display: flex;
      align-items: center;
      background: #CCC;
      color: #111;
      padding: 7px 13px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 10px;
      transition: background 0.1s linear;

      .material-icons {
        font-size: 20px;
        padding: 0;
        margin-top: 3px;
        margin-right: 9px;
        transform: translateY(-1px);
      }

      &.yellow {
        background: #FFD215;

        .material-icons {
          transform: translateY(-1px);
        }

        &:hover {
          background: darken(#FFD215, 6%);
        }
      }

      &:hover {
        background: #BBB;
      }
    }
  }

  .info, .screen {
    display: inline-flex;
  }

  .info {
    flex-direction: column;
    align-items: center;
    max-width: 55%;

    h1 {
      font-size: 40px;
    }

    p {
      max-width: 80%;
    }
  }

  .screen {
    height: 70%;
    width: 80vw;
    border-radius: 4px 0px 0px 4px;
    transition: transform 0.1s ease;

    background: url('../assets/screen1.svg.png');
    background-size: cover;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.17);

    &:hover {
      transform: scale(1.01);
    }
  }
}


</style>
