<template>
  <div class="hero2">
    <div class="info">
      <h1>Increase your presence as an artist.</h1>
      <p>Artist profiles can be customized with images, text and colors, emphasizing your music's vibrations. Be exceptionally good and get featured on the front page. Our engine updates it regularly to give all artists some exposure.</p>
      <div class="button-bar">
        <div class="yellow button">Start creating</div>
        <div class="button"><i class="material-icons">map</i> Developer Documentation</div>
      </div>
    </div>
    <div class="screen">

    </div>
  </div>
</template>

<script>
export default {
  name: 'Hero2',
  data: {
    function () {
      return {
      }
    }
  },
  methods: {

  },
  mounted () {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hero2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #F40F78, #FFD215);
  color: #FFF;
  display: flex;

  flex-direction: row-reverse;
  align-items: center;

  .info, .screen {
    display: inline-flex;
  }

  .info {
    flex-direction: column;
    align-items: center;
    max-width: 60%;

    .button-bar {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
    }

    .button {
      display: flex;
      align-items: center;
      background: #EEE;
      color: rgba(0, 0, 0, 0.8);
      padding: 6px 13px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 10px;
      transition: background 0.1s linear;
      -webkit-transition: background 0.1s linear;

      .material-icons {
        font-size: 21px;
        padding: 0;
        margin: 0;
        margin-right: 7px;
      }

      &.yellow {
        background: #FFD215;

        &:hover {
          background: darken(#FFD215, 6%);
        }
      }

      &:hover {
        background: #DDD;
      }
    }
  }

  .screen {
    height: 70%;
    width: 50vw;
    border-radius: 0px 4px 4px 0px;
    transition: transform 0.1s ease;

    background: url('../assets/screen2.svg');
    background-size: cover;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.17);

    &:hover {
      transform: scale(1.01);
    }
  }

  h1 {
    color: #FFF;
  }
}

p {
  max-width: 70%;
}
</style>
