<template>
  <div class="sidebar">
    <div class="items">
      <div class="item active">In your scope</div>
      <div class="item">Your collection</div>
      <div class="item">Trending tracks</div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Track from '@/components/Track.vue'


export default {
  name: 'Home',
  components: {
    Track
  }
}
</script>

<style scoped lang="scss">
.sidebar {
  position: fixed;
  top: 112px;
  right: 20px;
  bottom: 20px;
  width: 270px;


  .items {
    display: flex;
    flex-direction: column;
    width: 100%;

    .item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      background: #CCC;
      border-radius: 4px;
      margin-bottom: 8px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;

      &.active {
        background: #FFD215;
      }
    }
  }
}
</style>
