<template>
  <nav class="nav">
    <div class="wrapper">
      <div class="nav-section">
        <img src="@/assets/logo.svg" alt="Avadio" id="logo" />
      </div>
      <div class="nav-section">
        <div class="links">
          <router-link to="/"
                       class="link"
                       :class="{active: current == 'home'}"
                       @click="setItem('home')">
            Home
          </router-link>
          <router-link to="/features"
                       class="link"
                       :class="{active: current == 'features'}"
                       @click="setItem('features')">
            Features
          </router-link>
          <router-link to="/"
                       class="link"
                       :class="{active: current == 'discover'}"
                       @click="setItem('discover')">
            Discover
          </router-link>

        </div>
        <div class="user-menu">
          <div class="username">
            John Doe
          </div>
          <div class="avatar">

          </div>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  data: function () {
    return {
      current: 'home'
    }
  },
  methods: {
    setItem(current) {
      this.current = current
    }
  },
  props: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $avatar-diameter: 30px;

  .nav {
    position: fixed;

    left: 0;
    top: 0;
    width: 100vw;
    height: 52px;
    background: #FFF;

    .wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;

      .nav-section {
        display: inline-flex;
        height: 100%;
        align-items: center;
        margin: 0 16px;

        #logo {
          height: 28px;
          user-select: none;
          cursor: pointer;

        }

        .links {
          display: flex;
          align-items: center;
          margin-right: 60px;

          .link {
            display: inline-flex;
            align-items: center;
            height: 52px;
            padding: 0 10px;
            color: #222;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;

            &.active {
              color: #F40F78;
            }
          }
        }

        .user-menu {
          display: inline-flex;
          align-items: center;
          margin-right: 7px;
          cursor: pointer;

          .username {
            font-size: 15px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            color: #666;
          }

          .avatar {
            height: $avatar-diameter;
            width: $avatar-diameter;
            border-radius: 50%;
            background: #CCC;
            cursor: pointer;
          }

          i {
            user-select: none;
          }
        }
      }
    }
  }
</style>
