<template>
  <nav class="track">

  </nav>
</template>

<script>
export default {
  name: 'Track',
  data: function () {
    return {

    }
  },
  methods: {

  },
  props: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $golden-ratio: 1.618;

  .track {
    display: inline-flex;
    width: 100%;
    min-height: 300px;
    background: #FFF;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  }
</style>
