<template>
  <div id="app">
    <Navbar />
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Poppins:500,600');

$pink: #F40F78;
$yellow: #FFD215;

* {
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
  margin: 10px 0px;
  color: #111;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 36px;
  color: #222;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 22px;
  color: #222;
  letter-spacing: -0.04rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #EEE;
}

#app {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
  width: 100vw;
  height: 100vh;
  background: #EEE;
}

a {
  color: $pink;
  transition: color 0.1s linear;

  &:hover {
    color: darken($pink, 10%);
  }
}
</style>
